In [6]:
from dotenv import load_dotenv
from langchain.chat_models import init_chat_model
import os
from langchain.chat_models import ChatOpenAI
from langchain.utilities import SQLDatabase
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import initialize_agent, AgentType

In [2]:
load_dotenv()

True

In [7]:
db = SQLDatabase.from_uri(
    "sqlite:////Users/ashwin/Applications/PassionProjects/Experiments/command-center/db.sqlite3"
)

In [ ]:
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import initialize_agent, AgentType

# 1. Create your LLM
llm = ChatOpenAI(temperature=0, model="gpt-4")

# 2. Build the SQL toolkit from your DB + LLM
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
tools = toolkit.get_tools()

# 3. Initialize the agent
agent = initialize_agent(
    tools=tools,
    llm=llm,
    agent=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    verbose=True,
)

In [10]:
response = agent.run("How many jobs are there in the table job_automation_agent_job?")
print(response)

> Entering new AgentExecutor chain...
First, I need to confirm if the table job_automation_agent_job exists in the database.
Action: sql_db_list_tables
Action Input: ""
Observation: auth_group, auth_group_permissions, auth_permission, auth_user, auth_user_groups, auth_user_user_permissions, django_admin_log, django_content_type, django_migrations, django_session, job_automation_agent_job
Thought:The table job_automation_agent_job does exist in the database. Now, I need to write a SQL query to count the number of jobs in this table.
Action: sql_db_query_checker
Action Input: "SELECT COUNT(*) FROM job_automation_agent_job"
Observation: SELECT COUNT(*) FROM job_automation_agent_job
Thought:The SQL query is correct. Now, I will execute this query to get the number of jobs in the table job_automation_agent_job.
Action: sql_db_query
Action Input: "SELECT COUNT(*) FROM job_automation_agent_job"
Observation: [(2859,)]
Thought:I now know the final answer
Final Answer: There are 2859 jobs in the table job_automation_agent_job.

> Finished chain.
There are 2859 jobs in the table job_automation_agent_job.

In [ ]:
response = agent.run("How many jobs are there in the table job_automation_agent_job?")
print(response)

In [12]:
response = agent.run("How many AI Product Engineer jobs are there in the table job_automation_agent_job?")
print(response)

> Entering new AgentExecutor chain...
I need to query the job_automation_agent_job table to count the number of jobs with the title "AI Product Engineer".
Action: sql_db_query_checker
Action Input: SELECT COUNT(*) FROM job_automation_agent_job WHERE job_title = 'AI Product Engineer'
Observation: SELECT COUNT(*) FROM job_automation_agent_job WHERE job_title = 'AI Product Engineer'
Thought:The query seems to be correct as there are no error messages.
Action: sql_db_query
Action Input: SELECT COUNT(*) FROM job_automation_agent_job WHERE job_title = 'AI Product Engineer'
Observation: Error: (sqlite3.OperationalError) no such column: job_title
[SQL: SELECT COUNT(*) FROM job_automation_agent_job WHERE job_title = 'AI Product Engineer']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Thought:It seems like there is no column named 'job_title' in the table 'job_automation_agent_job'. I need to check the schema of the table to find the correct column name.
Action: sql_db_schema
Action Input: job_automation_agent_job
Observation:
CREATE TABLE job_automation_agent_job (
	id INTEGER NOT NULL,
	title VARCHAR(512) NOT NULL,
	company_name VARCHAR(255) NOT NULL,
	company_url VARCHAR(200),
	location VARCHAR(255),
	contract_type VARCHAR(64),
	experience_level VARCHAR(64),
	work_type VARCHAR(64),
	applications_count VARCHAR(64),
	posted_time VARCHAR(64),
	published_at DATETIME,
	salary VARCHAR(128),
	description TEXT,
	job_url VARCHAR(200) NOT NULL,
	apply_type VARCHAR(32) NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from job_automation_agent_job table:
id	title	company_name	company_url	location	contract_type	experience_level	work_type	applications_count	posted_time	published_at	salary	description	job_url	apply_type
3321484130	Software Developer (Backend SaaS)	Canonical	https://uk.linkedin.com/company/canonical?trk=public_jobs_topcard-org-name	Chicago, IL	Full-time	Associate	Engineering and Information Technology	None	3 days ago	2025-06-16 00:00:00		Canonical is a leading provider of open source software and operating systems to the global enterpri	https://www.linkedin.com/jobs/view/software-developer-backend-saas-at-canonical-3321484130?trk=publi	EXTERNAL
3435004588	Full Stack Product Engineer [REMOTE]	Anovium	https://www.linkedin.com/company/anovium?trk=public_jobs_topcard-org-name	United States	Full-time	Not Applicable	Engineering and Information Technology	None	2 years ago	2022-12-20 00:00:00		About Anovium

Anovium is a technology consultancy that transforms operations through intelligent in	https://www.linkedin.com/jobs/view/full-stack-product-engineer-remote-at-anovium-3435004588?trk=publ	EXTERNAL
3518839598	Backend Software Engineer	Yassir	https://www.linkedin.com/company/yassir?trk=public_jobs_topcard-org-name	United States	Full-time	Not Applicable	Engineering and Information Technology	None	2 years ago	2023-02-16 00:00:00		Yassir is the leading super App in the Maghreb region set to changing the way daily services are pro	https://www.linkedin.com/jobs/view/backend-software-engineer-at-yassir-3518839598?trk=public_jobs_to	EXTERNAL
*/
Thought:The correct column name for job title is 'title'. I need to modify the query to use the correct column name.
Action: sql_db_query_checker
Action Input: SELECT COUNT(*) FROM job_automation_agent_job WHERE title = 'AI Product Engineer'
Observation: SELECT COUNT(*) FROM job_automation_agent_job WHERE title = 'AI Product Engineer'
Thought:The query seems to be correct as there are no error messages.
Action: sql_db_query
Action Input: SELECT COUNT(*) FROM job_automation_agent_job WHERE title = 'AI Product Engineer'
Observation: [(7,)]
Thought:I now know the final answer.
Final Answer: There are 7 AI Product Engineer jobs in the table job_automation_agent_job.

> Finished chain.
There are 7 AI Product Engineer jobs in the table job_automation_agent_job.